{% extends "globals/base.html" %}
{% load static %}
{% block content %}
{%include 'globals/header.html' %}

<section class="hero">
  <div class="hero__content">
    <div class="hero__text-area">
      <h1 class="hero__title">
        Um Lar de Conforto e Dignidade para Nossos Idosos
      </h1>
      <div class="hero__description">
        Oferecemos cuidados especializados, ambientes acolhedores e uma equipe
        dedicada para proporcionar bem-estar e qualidade de vida aos nossos
        residentes.
      </div>
      <a class="hero__learn-more">
        Fale conosco
        <span class="material-symbols-outlined hero__learn-more__arrow">
          arrow_forward_ios
        </span>
      </a>
    </div>
    <div class="hero__image-area">
      <img
        class="hero__image"
        src="{% static 'landing/imgs/heroImage.png' %}"
      />
    </div>
  </div>
</section>

<!-- partes que estão em Desenvolvimento -->

<!-- Nossos Serviços -->

<h1 class= title-square> Nossos Serviços </h1>
<section class="section"> <!--mudar esta classe-->

  <div class="square">
    <img
        class ="square_img"
        src="{% static 'landing/imgs/ServiceIcon2.png' %}"
      />
    <h1>Enfermaria</h1>
    <p>Nossa casa possui uma 
      enfermaria com remedios e 
      produtos para nosso idosos</p>
  </div>
  <div class="square">
    <img
        class="square_img"
        src="{% static 'landing/imgs/ServiceIcon1.png' %}"
      />
    <h1>Cuidadores</h1>
    <p>Na arco-íris temos cuidadores
      especializado em tratar os 
      idosos e garantir um excelente
      tratamento</p>
  </div>
  <div class="square">
    <img
        class="square_img"
        src="{% static 'landing/imgs/ServiceIcon3.png' %}"
      />
    <h1>Higiene</h1>
    <p>Disponibilizamos produtos 
      de higiene e cuidados pessoais
      gratuítos</p>
  </div>
</section>

<!-- quem nos somos -->

<section class=> <!-- fazer estilização -->
  <div class=>
    <div class=>
      <h1 class=>
        Quem somos Nós
      </h1>
      <div class=>
      Com mais de 15 anos de experiência no cuidado de idosos, a casa geriátrica Arco-íris se destaca por oferecer um serviço de excelência.
       O Uracy, tem a honra de liderar essa equipe dedicada, que trabalha incansavelmente para garantir o bem-estar dos nosso residentes. 
       Nossa estrutura foi projetada pensando em cada detalhe, com espaços amplos e bem iluminados, área de convivência agradáveis e um jardim exuberante.
       Contamos com uma equipe multidisciplinar altamente qualificada. Nossa missão é proporcionar qualidade de vida, bem-estar e muito carinho aos nossos residentes.
    <div class="">
      <img
        class=""
        src="{% static 'landing/imgs/AboutUs1.png' %}" />
    </div>
    <div>
      <img
      class=""
      src="{% static 'landing/imgs/AboutUs2.png' %}" />
      <img
       class=""
       src="{% static 'landing/imgs/AboutUs3.png' %}" />
    </div>
  </div>
</section>

<!-- final das partes que estão em Desenvolvimento -->

<section class="feedback">
  <div class="feedback__content">
    {% for avaliacao in avaliacoes %}
    <div class="feedback__card">
      <div class="card__user">
        <img
          class="card__image"
          src="{{ avaliacao.imagem.url }}"
          alt="{{ avaliacao.nome }}"
          width="100"
        />
        <h2>{{ avaliacao.nome }}</h2>
        <div class="card__stars">
          {% for estrela in avaliacao.stars_range %}
          <span class="material-symbols-outlined"> star </span>
          {% endfor %}
        </div>
      </div>
      <p>{{ avaliacao.avaliacao }}</p>
    </div>
    {% endfor %}
  </div>
</section>

<section class="recentnews">
  <h1 class="recentnews__title">Notícias Recentes</h1>
  <div class="recentnews__content">
    {% for noticia in ultimas_noticias %}
    <div class="recentnews__card-news">
      <a class="recentenews__link" href="{% url 'artigo_detail' noticia.tipo noticia.slug %}">
        {% if noticia.imagem %}
          <img class="recentnews__image" src="{{ noticia.imagem.url }}" alt="{{ noticia.titulo }}" />
        {% endif %}
        <div class="recentenews__textarea">
          <div class="recentenews__title">
            <h3 class="recentenews__title-h3">{{ noticia.titulo }}</h3>
            <p class="recentenews__text">{{ noticia.subtitulo }}</p>
          </div>
          <p class="recentenews__date" class="recentnews__date">Publicado em: {{ noticia.format_data_publicacao }}</p>
        </div>
      </a>
    </div>
    {% empty %}
      <div class="recentnews__no-news">Não há notícias recentes disponíveis.</div> 
    {% endfor %}
  </div>
</section>

{% endblock content %} {% with page="home" %} {% endwith %}
