{% extends "globals/base.html" %} {% load static %} {% block content %}
{%include 'globals/header.html' %}

<style>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  h1 {
    text-align: center;
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: #6057cf;
  }

  .recentenews__link {
    text-decoration: none;
    color: #6057cf;
    font-size: 2.2rem;
    font-weight: bold;
  }

  .news-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    justify-items: center;
  }

  .card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 100%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  }

  .card-header {
    position: relative;
    overflow: hidden;
  }

  .card-header img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }

  .card-body {
    padding: 15px;
  }

  .card-body h2 {
    font-size: 1.6rem;
    margin-bottom: 10px;
    color: #333;
  }

  .card-body p {
    font-size: 1.6rem;
    color: #666;
    margin-bottom: 10px;
  }

  .card-body .date {
    font-size: 1.6rem;
    color: #aaa;
    font-weight: normal;
  }

  .card-footer {
    padding: 15px;
    text-align: center;
    background-color: #f7f7f7;
  }

  .card-footer a {
    font-size: 1.6rem;
    color: #6057cf;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s ease;
  }

  .card-footer a:hover {
    color: #0056b3;
  }

  .noticias {
    padding: 28px;
  }
</style>

<section class="noticias">
  <h1>
    Notícias
    <p style="font-size: 18px; font-weight: normal">
      Fique por dentro das nossas ultimas noticias
    </p>
  </h1>
  {% if tips %}
  <div class="news-container">
    {% for tip in tips %}
    <div class="card">
      <div class="card-header">
        {% if tip.imagem %}
        <img
          src="{{ tip.imagem.url }}"
          alt="{{ tip.titulo }}"
          class="card-img"
        />
        {% endif %}
      </div>
      <div class="card-body">
        <h2>
          <a
            class="recentenews__link"
            href="{% url 'artigo_detail' tip.tipo tip.slug %}"
          >
            {{ tip.titulo }}
          </a>
        </h2>
        <p class="date">
          <strong>Publicado em:</strong> {{ tip.format_data_publicacao }}
        </p>
        <p>{{ tip.subtitulo }}</p>
      </div>
      <div class="card-footer">
        <a href="{% url 'artigo_detail' noticia.tipo noticia.slug %}"
          >Leia mais</a
        >
      </div>
    </div>
    {% endfor %}
  </div>
  {% else %}
  <p>Não há notícias disponíveis no momento.</p>
  {% endif %}
</section>
{% endblock content %}
